---json
{
  "permalink": "/ai/feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }} - AI</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/ai/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/ai/" rel="alternate" type="text/html"/>
  <updated>{{ collections.sectionAi | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {%- for post in collections.sectionAi | head(20) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}" rel="alternate" type="text/html"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <content type="html"><![CDATA[{{ post.content | safe }}]]></content>
  </entry>
  {%- endfor %}
</feed>
