---
layout: false
permalink: /categories/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head><meta http-equiv="refresh" content="0;url=/explore/#categories"></head>
<body><a href="/explore/#categories">Redirecting...</a></body>
</html>
