---
layout: layouts/section.njk
sectionTitle: Python
sectionSlug: python
sectionFeedUrl: /feed.xml
feedUrl: /feed.xml
feedTitle: "Blog | Adarsh Divakaran - Python"
pagination:
  data: collections.sectionPython
  size: 10
permalink: "{% if pagination.pageNumber > 0 %}/python/page/{{ pagination.pageNumber + 1 }}/{% else %}/python/{% endif %}"
---
