---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Content-Signal: ai-train=yes, search=yes, ai-input=yes
Allow: /
Disallow: /search-index.json

Sitemap: {{ site.url }}/sitemap.xml
